@page "/C_Cliente"
@inject ClientesBLL clientesBLL

<label>Filtrar por ID</label>
<div class="input-group filter-input">
    <InputNumber @bind-Value="filtrar" class="form-control"></InputNumber>
    <div class="input-group-append">
        <button type="button" class="bi bi-search" @onclick="Buscar"></button>
        <button type="button" class="bi bi-arrow-clockwise" @onclick="Reiniciar"></button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nombres</th>
                <th>Celular</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th>RNC</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaClientes)
            {
                <tr>
                    <td><a href="R_Clientes/@item.ClienteId">@item.ClienteId</a></td>
                    <td>@item.Email</td>
                    <td>@item.Nombres</td>
                    <td>@item.Celular</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.RNC</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    public Clientes clientes { get; set; } = new Clientes();
    public int filtrar { get; set; }
    public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();

    protected override async void OnInitialized()
    {
        ListaClientes = await clientesBLL.GetList(l => true);
    }

    public async Task Buscar()
    {
        ListaClientes = await clientesBLL.GetList(l => l.ClienteId == filtrar);
    }

    public async Task Reiniciar()
    {
        ListaClientes = await clientesBLL.GetList(l => true);
    }
}
