@page "/tickets"
@inject TicketsServices ticketsServices
@attribute [StreamRendering]

<PageTitle>Consulta Tickets</PageTitle>

<div class=" container">

    <div class="card shadow-lg">

        <div class="card-header">
            <h3><strong>Consulta Tickets</strong></h3>
            <div class="d-flex align-items-start ">

                <div class="px-2">
                    <a href="/T_Create"><em>Crear</em></a>

                </div>
                <a href="/T_Details"><em>Detalles</em></a>
            </div>
        </div>



        <div class="table-responsive">



            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>TicketID</th>
                        <th>Fecha</th>
                        <th>ClienteID</th>
                        <th>SistemaId</th>
                        <th>PrioridadID</th>
                        <th>SolicitadoPor</th>
                        <th>Asunto</th>
                        <th>Descripcion</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListaTickets)
                    {
                        <tr>
                            <td>@item.TicketId</td>
                            <td>@item.Fecha</td>
                            <td>@item.ClienteId</td>
                            <td>@item.SistemaId</td>
                            <td>@item.PriodidadID</td>
                            <td>@item.SolicitadoPor</td>
                            <td>@item.Asunto</td>
                            <td>@item.Descripcion</td>
                           

                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>
</div>


@code {
    public Tickets tickets { get; set; } = new Tickets();
    public int filtrar { get; set; }
    public List<Tickets> ListaTickets { get; set; } = new List<Tickets>();

    protected override async void OnInitialized()
    {
        ListaTickets = await ticketsServices.GetList(l => true);
    }


}
